  /* ESTILOS TRANSVERSALES */
:root
{
  --background-color-up: rgb(255, 255, 255);
  --background-color-down: rgb(255, 255, 255);
  --title-text-color: rgb(255, 255, 255);
  --paragraph-text-color: rgb(0, 0, 0);
  --card-color-up:rgb(65, 145, 236);
  --card-color-down:rgb(39, 68, 112);
  --icons-color:rgb(1, 55, 99);
  /* Para identificar este filtro seleccione un color en formato HEX y conviertalo a filtro aqui: https://codepen.io/sosuke/pen/Pjoqqp */
  --filtro-logo:invert(100%);
  /* Wave Effect */
  --principal-wave: rgb(0, 50, 90);
  --second-wave: rgb(71, 114, 150);
  --third-wave: rgb(147, 191, 228);
  --fourth-wave: rgb(209, 222, 241);
  --reversed-wave:rgb(255, 255, 255);
 /* Wave Effect Navbar */
  --principal-wave-navbar: rgb(0, 50, 90);
  --second-wave-navbar: rgb(71, 114, 150,.5);
  --third-wave-navbar: rgb(147, 191, 228,.5);
  --fourth-wave-navbar: rgb(209, 222, 241,.5);
  --reversed-wave-navbar:rgb(255, 255, 255);
  /* Efectos Prologo */
  --prologue-width: 40%;
  --filtro-prologo:hue-rotate(128deg);
}


/*EFECTO ZOOM A LAS IMAGENES*/
.imagen  {
  -webkit-transition:all 2s ease-out;
  -moz-transition:all 2s ease-in;
  -o-transition:all 2s ease-out;
  -ms-transition:all 2s ease-in;
  width:100%;
}

.imagen:hover {
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform:scale(1.2);
}

@media (max-width: 550px)
{
  .imagen:hover {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
  }
}


body{
    background-image: linear-gradient(var(--background-color-down),var(--background-color-up));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
  }
  
  .flex-content{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
  }

  .imagen-container{
    max-width: 25%;
    min-width: 310px;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen{
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding: 2%;
    border-radius: 5%;
  }

  .texto{
    text-align: justify;
    padding: 1%;
    color:var(--paragraph-text-color);
    max-width: 35%;
    min-width: 300px;
    font-size: clamp(1rem,1.8vw,2rem);
    overflow-wrap: break-word;
  }

  .image-full-lenght{
    padding: 25px 0;
    margin: 0 auto;
    width: 60%;
    height: 85%;
  }

  .texto-full-lenght{
    text-align: justify;
    padding: 1%;
    padding-top: 3%;
    color:var(--paragraph-text-color);
    max-width: 60%;
    min-width: 300px;
    font-size: clamp(1rem,1.8vw,2rem);
    overflow-wrap: break-word;
  }

  .title-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--title-text-color);
    font-size: clamp(1.5rem,5vw,2.5rem);
    font-weight: bolder;
    background-color: var(--principal-wave);
    padding-top: 5px;
  }

  .title-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--paragraph-text-color);
    font-size: clamp(1rem,2.5vw,2rem);
    font-weight: bolder;
    padding-top: 20px;
    background-color: var(--card-color-down);
    border-radius: 2%;
  }

  .subtitle-cards{
    align-self: flex-end;
    display: flex;
    align-items: center;
    align-self: end;
    justify-content: center;
    width: 100%;
    color: var(--paragraph-text-color);
    font-size: clamp(1rem,2.5vw,2rem);
    font-weight: bolder;
    padding-top: 20px;
    background-color: var(--card-color-up);
    border-radius: 2%;
  }

h3{
  font-size: clamp(1rem,1.8vw,2rem);
}

  /* NAVBAR */

.navbar{
display: flex;
justify-content: center;
flex-flow: row wrap;
align-items: center;
background-color: var(--principal-wave);
}

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}




  /* INTRODUCCION */

  .logo{
    display: flex;
    justify-content: center;
    filter:var(--filtro-logo);
    width: 60%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 3%;
  }

  .introduction { 
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
  }

  .Prologo_Image_Not_Absolute{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    width: var(--prologue-width);
    filter: var(--filtro-prologo);
    min-width: 300px;
  }

  .Prologo_Images_Block_Background{
    position: absolute;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    filter: var(--filtro-prologo);
    width: var(--prologue-width);
    min-width: 300px;
  }

  .Prologo_Images_Background{
    position: absolute;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    filter: var(--filtro-prologo);
    width:var(--prologue-width);
    min-width: 300px;
  }

  .Prologo_Images_Background_2{
    position: absolute;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    filter: var(--filtro-prologo);
    width: var(--prologue-width);
    min-width: 300px;
  }

  .Prologo_Images_Block_Background_with_filter{
  position: absolute;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  filter: var(--filtro-prologo) url(#turbulence);
  width: var(--prologue-width);
  min-width: 300px;
  }


  /* CONOCE NUESTRAS INSTALACIONES */

  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/


.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item:hover {
  flex: 7;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
  border-radius: 2%;
}

.item-1 {
  background-image: url("graphics/flotarium_images_reduced/20210927183423_1_opt.jpg");
}

.item-2 {
  background-image: url("graphics/flotarium_images_reduced/20210927155559_opt.jpg");
}

.item-3 {
  background-image: url("graphics/flotarium_images_reduced/20210927160414_opt.jpg");
}

.item-4 {
  background-image: url("graphics/flotarium_images_reduced/20210927155741_opt.jpg");
}

.item-5 {
  background-image: url("graphics/flotarium_images_reduced/20210927163530_opt.jpg");
}

@media (max-width: 550px)
{
  .gallery-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
  }

  .image-full-lenght{
    padding: 25px 0;
    margin: 0 auto;
    width: 85%;
    height: 85%;
  }

}

/* BENEFICIOS */

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1{
  padding: 5%;
  font-size: 2.5rem;
  font-weight: normal;
  color: rgb(10, 10, 10);
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;    
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
  
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(45deg,  var(--card-color-down) 0%, var(--card-color-up) 100%);
  background: -o-linear-gradient(45deg,  var(--card-color-down) 0%, var(--card-color-up) 100%);
  background: linear-gradient(45deg,  var(--card-color-down) 0%, var(--card-color-up) 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .3;
    background-color: rgb(145, 181, 190);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}


.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}


.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}


.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}


.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}


.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}


@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }

  .col2{
    width: calc(33.333333% - 2rem);
  }
  
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }

  .col2{
    width: calc(50% - 2rem);
  }
  
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }

  .col2{
    width: 100%;
    margin: 0 0 2rem 0;
  }

}


@media (max-width: 768px) {
  .wrapper{
    width: 80%;
    margin: 0 auto;
    max-width: 80rem;
  }
}

  /* CONTÁCTANOS */

  .map{
    width: 45vh;
    height: 45vh;
    justify-content: center
  }
  
  .texto-icons{
    text-align: center;
    padding: 2%;
    color:var(--icons-color);
    max-width: 35%;
    min-width: 380px;
    font-size: clamp(1rem,2vw,2.5rem);
  }

  .texto-icons-2{
    display:flex;
    align-items: center;
    padding: 2%;
    min-width: 100%
  }

  .fab
  {
    color: var(--icons-color);
    font-size: clamp(2rem,4vw,5rem);
    text-align: center;
  }

  .fas
  {
    color: var(--icons-color);
    font-size: clamp(2rem,4vw,5rem);
    text-align: center;
  }

 /* FOOTER */

  footer {
    text-align: center;
    padding: 5%;
    padding-top: 3%;
    color:var(--title-text-color);
    font-weight: bolder;
    max-width: 100%;
    min-width: 200px;
    font-size: clamp(1rem,2vw,2.5rem);
    overflow-wrap: break-word;
    background-color: var(--principal-wave);
  }

  .logo-dustrad {
    display: flex;
    justify-content: center;
    margin-top: -130px;
    filter:invert(100%);
    width: 60%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .waves-navbar{
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
    
  .lower-waves {
    width: 100%;
    height:5vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:50px;
    max-height:150px;
  }

  .lower-waves-reversed {
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:50px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  @media (max-width: 768px) {

    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }


  /* Animacion tarjetas NUESTRO */

@import url(https://fonts.googleapis.com/css?family=Roboto);


header img {
  border-radius: 50%;
  margin: 20px auto;
  display: block;
  width: 200px;
  border: 5px solid #fff;
}

aside {
  border-top: 0px solid #26A69A;
  border-bottom: 0px solid #00695C;
  border-radius: 50%;
  margin: 8%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
  height: 250px;
  width: 250px;
  background: url(https://s-media-cache-ak0.pinimg.com/736x/3a/1f/02/3a1f02c10700daa80655a302c5a27acf.jpg);
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 0 100px 10px #fff;
  transition: all ease 0.3s;
}

aside:hover {
  border-top: 4px solid #26A69A;
  border-bottom: 4px solid #00695C;
  border-radius: 5px;
  height: 480px;
  width: 350px;
  box-shadow: 0 0 50px 10px #fff;
}

aside:hover header img {
  animation: profile_image 2000ms linear both;
  animation-delay: 0.5s;
}

header {
  text-align: center;
}

header h1 {
  position: relative;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  padding: 10px;
  transition: all ease 0.250s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

aside:hover header h1 {
  margin-top: 0px;
  outline: 0 solid #fff;
  border-top: 0px solid #fff;
  border-bottom: 1px solid #fff;
}

header h2 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 17px;
  font-weight: normal;
  line-height: 0px;
  margin: 0;
}

.profile-bio {
  margin-top: 20px;
  padding: 1px 20px 10px 20px !important;
  transition: all linear 1.5s;
  color: #fff;
  font-size: 14px;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.42) 49%, rgba(0, 0, 0, 0.61) 100%);
}

aside:hover .profile-bio {
  opacity: 1;
}

.profile-bio p:first-child {
  text-align: center;
  font-size: 16px;
}


@keyframes profile_image {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  3.4% {
    transform: matrix3d(1.032, 0, 0, 0, 0, 1.041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(1.045, 0, 0, 0, 0, 1.06, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  6.81% {
    transform: matrix3d(1.066, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(1.088, 0, 0, 0, 0, 1.117, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  10.21% {
    transform: matrix3d(1.094, 0, 0, 0, 0, 1.123, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  13.61% {
    transform: matrix3d(1.112, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.114, 0, 0, 0, 0, 1.133, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  17.52% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.121, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  21.32% {
    transform: matrix3d(1.12, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.115, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  25.23% {
    transform: matrix3d(1.113, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.03% {
    transform: matrix3d(1.106, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(1.098, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  36.74% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.098, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(1.096, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  44.44% {
    transform: matrix3d(1.097, 0, 0, 0, 0, 1.103, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(1.099, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  59.86% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  75.28% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  90.69% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
/*NAME ANIMATE */

aside:hover header h1 {
  animation: name_and_job 1500ms linear both;
  animation-delay: 0.4s;
}

@keyframes name_and_job {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1);
  }
  1.3% {
    transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1);
  }
  2.55% {
    transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1);
  }
  4.1% {
    transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1);
  }
  5.71% {
    transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1);
  }
  8.11% {
    transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1);
  }
  8.81% {
    transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1);
  }
  11.96% {
    transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1);
  }
  12.11% {
    transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1);
  }
  15.07% {
    transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1);
  }
  16.12% {
    transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1);
  }
  27.23% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1);
  }
  27.58% {
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1);
  }
  38.34% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1);
  }
  40.09% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1);
  }
  50% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1);
  }
  60.56% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1);
  }
  82.78% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

aside:hover ul li:first-child {
  animation: social_animation 2000ms ease-in-out both;
  animation-delay: 0.75s;
}

aside:hover ul li:nth-child(2) {
  animation: social_animation 2000ms ease-in-out both;
  animation-delay: 1s;
}

aside:hover ul li:nth-child(3) {
  animation: social_animation 2000ms ease-in-out both;
  animation-delay: 1.25s;
}

  /*Loading page*/
/* .jm-loadingpage {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: #fff; 
 } */

.circle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  /* border: 5px solid #fff;
  box-shadow: 0 0 0 5px #4973ff; */
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
  z-index: 999999999;
}

@media (max-width: 768px) {

  .circle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    /* border: 5px solid #fff;
    box-shadow: 0 0 0 5px #4973ff; */
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    z-index: 999999999;
  }
}

.wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: #4973ff;
  border-radius: inherit;
  box-shadow: inset 0 0 50px rgba(0,0,0,.4);
}

.wave::before,
.wave::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.wave::before {
  border-radius: 45%;
  background: rgba(255,255,255,1);
  animation: animate 5000ms linear infinite;
}

.wave::after {
  border-radius: 40%;
  background: rgba(255,255,255,.5);
  animation: animate 3000ms linear infinite;
}


@keyframes animate {
  0% {
      transform: translate(-50%,-75%) rotate(0deg);
  }
  100% {
      transform: translate(-50%,-75%) rotate(360deg);
  }


}


