.body{
  background-image: linear-gradient(rgb(0, 0, 0),rgb(52, 156, 151));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  "header header header"
  "introduction introduction introduction"
  "about_us about_us about_us"
  "method method method"
  "experience experience experience"
  "benefits benefits benefits"
  "schedule schedule schedule"
  "footer footer footer";

}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar navbar navbar"
    "logo logo logo";
  grid-area: header;
  ;
}

.navbar { 
  
  grid-area: navbar;

  }

.logo { 
  
  grid-area: logo; 
  text-align: center;
  width: 100%;
  height: 0;
  filter:invert(100%);
  
  }

.introduction { 
  grid-area: introduction; 
  margin-top: 25%;
  left:0;
  right:0;
  position: absolute;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about_us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about_us_title about_us_title"
    "about_us_content about_us_image";
  color:white;
  margin-top: 65%;
}

.about_us_title { 

grid-area: about_us_title;
text-align: center;
text-shadow: 2px 0 3px rgb(61, 248, 233);
font-size: clamp(1.5rem,5vw,5rem);
padding:5vw;

}

.about_us_content { 
  
  grid-area: about_us_content;
  text-align: justify;
  font-size: clamp(1rem,2vw,5rem);
  padding:5vw;
  padding-left: 10vh;

}

.about_us_image { 
  
  grid-area: about_us_image; 

}


.footer { 
  
  grid-area: footer; 

}

.schedule { 
  
  grid-area: schedule; 

}

.benefits { 
  
  grid-area: benefits; 

}

.experience { 
  
grid-area: experience; 
color: white;

}

.method { 
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "method_title method_title"
    "method_content method_image";
  color:white;
  margin-top: 1000%;

}

.method_title{
  grid-area: method_title;
  text-align: center;
  text-shadow: 2px 0 3px rgb(61, 248, 233);
  font-size: clamp(1.5rem,5vw,5rem);
  padding:5vw;
}

.method_content{
  grid-area: method_content;
  text-align: justify;
  font-size: clamp(1rem,2vw,5rem);
  padding:5vw;
  padding-left: 10vh;
}

.method_image{
  grid-area: method_image; 
}
/* Editado */

.Prologo_Images_Block_Background{

  left:0;
  right:0;
  position: absolute;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.Prologo_Images_Block_Background_with_filter{

  left:0;
  right:0;
  position: absolute;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  filter: url(#turbulence);
  
}

.Content_Image{

  max-width: 90%;
  height: auto;
  border-radius: 10%;
  margin-top: auto;
  margin-bottom: auto;

}


@media only screen and (max-width: 550px) {

  .about_us{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 2fr;
    grid-template-areas: 
    "about_us_title"
    "about_us_content"
    "about_us_image";
    gap: 0px 0px;
    grid-auto-flow: row;
  }

  .about_us_content{
    padding:5vh;
  }

  .About_Us_Image{
    max-width: 90%;
    height: auto;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "introduction"
    "about_us"
    "method"
    "experience"
    "benefits"
    "schedule"
    "footer";
  }

}